.item {
    padding: 14px;
    font-size: 18px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    margin: 8px;
}

.name {
    font-style: italic;
    text-decoration: underline;
}

.phone {
    letter-spacing: 1px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}