.menu {
    display: flex;
    align-items: center;
}

.item {
    display: block;
    flex-grow: 1;
    text-align: center;
    padding: 12px 0;
    background-color: black;
    color: white;
    font-family: 'Arial';
    font-weight: 700;
    text-decoration: none;
}

.item:hover {
    color: black;
    background-color: white;
}