.layout {
    flex-grow: 1;
    border: 5px solid #06367a;
    padding: 15px;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 25px;
}