.counterWrapper {
    padding: 30px;
    border: 4px solid blue;
    margin: 10px auto;
    width: 400px;
}

.counterWrapperYellow {
    background-color: yellow;
}


.counterButton {
    display: block;
    padding: 4px 10px;
    width: 100%;
    box-sizing: border-box;
}

.resetButton {
    display: block;
    padding: 4px 10px;
    width: 100%;
    box-sizing: border-box;
    background-color: red;
    color: white;
}