.window {

}

.title {
    font-size: 18px;
    font-weight: 600;
}

.input {
    display: block;
    padding: 5px;
    width: 300px;
}

.button {

}

.form {
    display: flex;
    margin-bottom: 20px;

}

.text {
    display: block;
    resize: none;
    width: 100%;
    height: 700px;
}