.product-card {
    width: 400px;
    padding: 20px;
    border: 2px solid red;
    border-radius: 4px;
}


/* .product-image {
    width: 100%;

}

.product-button {
    padding: 2px 30px;
    font-size: 24px;
    background-color: green;
    color: white;
    border: none;
} */