.container {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: lightgray;
    box-sizing: border-box;
    border: 2px solid black;
    text-align: center;
    padding: 10px;
}

.photo {
    width: 120px;
    height: 120px;
    border-radius: 120px;
    background-color: white;
    margin-bottom: 15px;
}

.name {
    margin-bottom: 8px;
}

.ip {
    margin-bottom: 15px;
}

.btn {
    display: block;
    width: 100%;
    padding: 5px 0;
}