.card {
    border-bottom: 2px solid lightgray;
    height: 150px;
    display: flex;
    align-items: flex-start;
    gap: 70px;
    padding: 12px 0;
}

.poster {
    height: 100%;
}

.title {
    margin-bottom: 8px;
}

.like {
    align-self: flex-end;
    margin-left: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

