.search {
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    gap: 50px;
    
}

.title {
    font-size: 36px;
}

.form {
    width: 60%;
    display: flex;
}

.input {
    display: block;
    flex-grow: 1;
    padding: 10px;
    box-sizing: border-box;
    font-size: 24px;
    text-align: center;
}

.btn {
    display: block;
    padding: 12px 24px;
    font-size: 24px;
}

.results {
    width: 60%;
}