.container {
    border: 4px solid yellow;
}

.product {
    border:  2px solid blue;
    display: flex;
    align-items: center;
    gap: 50px;
    margin: 5px;
}

.photo {
    height: 90px;
    width: 90px;
}

.info {
    
}

.name {

}

.price {

}