.menuWrapper {
    padding: 24px;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.menuList {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    max-width: 600px;
}

/* .menuItem {

} */

