.header {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    
}

.ul {
    list-style: none;
    display: flex;
}


.a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 20px;
}

.a:hover {
    background-color: gainsboro;
    color: black;
}