.dialog {
    width: 600px;
    height: 200px;
    border: 1px solid lightgray;
    padding: 15px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 10px;
    background-color: lightgoldenrodyellow;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 0;

}

.text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 10px 0;
}