.h1 {
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

.form {
    width: 560px;
    padding: 24px;
    border-radius: 10px;
    background-color: white;
}

.input {
    display: block;
    width: 100%;
    border: 2px solid lightgreen;
    border-radius: 4px;
    padding: 5px;
    font-size: 19px;
    resize: none;
    margin: 10px 0;
    box-sizing: border-box;
}

.input:focus {
    outline: none;
}

.button {
    width: 100%;
    background-color: lightgreen;
    border: 4px solid darkcyan;
    display: block;
    padding: 7px;
    font-size: 19px;
    cursor: pointer;
}

.button:hover {
    background-color: darkgreen;
    color: white;
}