.card {
    padding: 20px;
    margin: 20px 10px;
    border-radius: 8px;
    border: 2px solid lightgray;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 370px;
    position: relative;
}


.button {
    display: block;
    width: 100%;
    padding: 4px;
    font-size: 18px;
}

.deleteButton {
    background-color: red;
    color: white;
    padding: 4px;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;

}