.item {
    color: #06367a;
    text-decoration: none;
    font-size: 18px;
    background-color: #fff;
    padding: 10px;
    margin: 4px;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;
}

.item:hover {
    opacity: 0.85;
}

.item svg {
    fill: #06367a;
    height: 18px;
}